.markers-list {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  max-width: 350px;
  margin: auto;
  color: salmon;
}

.marker-item {
  margin-top: -10px;
  padding-bottom: 5px;
  border-bottom: 1px solid transparent;
}

.marker-item:hover {
  border-bottom: 1px solid salmon;
}
