*,
:after,
:before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  font-family: Lato, sans-serif;
  min-height: 100%;
  padding: 0;
  margin: 0;
  background-color: #f1f1f1;
}
